Source: phantom
Section: net
Priority: optional
Maintainer: Eugene Mamchits <mamchits@yandex-team.ru>
Standards-Version: 3.9.5
Build-Depends: debhelper (>= 7), perl,
	libssl-dev (>= 0.9.8m),
	binutils-dev

Package: phantom
Architecture: i386 amd64
Section: net
Priority: optional
Depends: ${shlibs:Depends},${misc:Depends}
Description: I/O engine with some modules.

Package: phantom-dev
Architecture: i386 amd64
Section: devel
Priority: optional
Depends: libc6-dev, g++, phantom (= ${binary:Version}), ${perl:Depends},  ${misc:Depends}
Description: Phantom development library.

Package: phantom-ssl
Architecture: i386 amd64
Section: net
Priority: optional
Depends: ${shlibs:Depends}, phantom (= ${binary:Version}), ${misc:Depends}
Description: OpenSSL dependent modules for phantom.

Package: phantom-ssl-dev
Architecture: i386 amd64
Section: devel
Priority: optional
Depends: phantom-dev (= ${binary:Version}), phantom-ssl (= ${binary:Version}), ${misc:Depends}
Description: Phantom development library (ssl part).

Package: phantom-debug
Architecture: i386 amd64
Section: net
Priority: optional
Depends: ${shlibs:Depends}, phantom (= ${binary:Version}), ${misc:Depends}
Description: libbfd dependent modules for phantom.

Package: phantom-debug-dev
Architecture: i386 amd64
Section: devel
Priority: optional
Depends: phantom-dev (= ${binary:Version}), phantom-debug (= ${binary:Version}), ${misc:Depends}
Description: Phantom development library (debug part).
