Package: phantom-ssl-dbgsym
Package-Type: ddeb
Source: phantom
Version: 0.14.0~pre65load4nmuubuntu1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Eugene Mamchits <mamchits@yandex-team.ru>
Installed-Size: 388
Depends: phantom-ssl (= 0.14.0~pre65load4nmuubuntu1)
Section: debug
Priority: optional
Description: debug symbols for phantom-ssl
Build-Ids: 5cb94a8b324be32e39e6c3ad2a269eabee92fe86 837702fbc8672737e645798a8c92df454f536bd1 d6752f23c55751cedb2b27145ba667cba873c49f
