Package: phantom-ssl
Source: phantom
Version: 0.14.0~pre65load4nmuubuntu1
Architecture: amd64
Maintainer: Eugene Mamchits <mamchits@yandex-team.ru>
Installed-Size: 253
Depends: libc6 (>= 2.14), libgcc1 (>= 1:3.0), libssl1.1 (>= 1.1.0), libstdc++6 (>= 4.1.1), phantom (= 0.14.0~pre65load4nmuubuntu1)
Section: net
Priority: optional
Description: OpenSSL dependent modules for phantom.
